/* App.css */
.App {
  text-align: center;
  background-image: url('/public/terain.jpg'); /* Chemin à partir du dossier public */
  background-size: cover; /* S'assure que l'image couvre tout l'espace */
  background-position: center; /* Centre l'image */
  height: 100vh; /* Prend la hauteur de la fenêtre */
  width: 100%; /* Prend la largeur totale */
  color: #303e04d2;
  
}


.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #c7d620;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}



